{% extends 'base.html' %}
{% block title %}Add Internship{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>Add New Internship</h2>
    <br>
    <form method="POST" action="{{ url_for('add_organization') }}" class="w3-row-padding">
        <div class="input-container">
            <label for="company_name">Company Name:</label><br>
            <input type="text" id="company_name" name="company_name" class="w3-input w3-round" required><br>

            <label for="website">Website:</label><br>
            <input type="text" id="website" name="website" class="w3-input w3-round" required><br>

            <label for="street_address">Street Address:</label><br>
            <input type="text" id="street_address" name="street_address" class="w3-input w3-round" required><br>

            <label for="city">City:</label><br>
            <input type="text" id="city" name="city" class="w3-input w3-round" required><br>

            <label for="state">State:</label><br>
            <input type="text" id="state" name="state" class="w3-input w3-round" required><br>

            <label for="zip_code">Zip Code:</label><br>
            <input type="text" id="zip_code" name="zip_code" class="w3-input w3-round" required><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone" class="w3-input w3-round" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" class="w3-input w3-round" required><br>

            <label for="internship_mentor">Internship Mentor:</label><br>
            <input type="text" id="internship_mentor" name="internship_mentor" class="w3-input w3-round" required><br>

            <label for="internship_topic">Internship Topic:</label><br>
            <input type="text" id="internship_topic" name="internship_topic" class="w3-input w3-round" required><br>
        </div>

        <input type="submit" value="Add" class="w3-button w3-round w3-margin-top">
    </form>
</div>
{% endblock %}