{% extends 'base.html' %}
{% block title %}Add Internship{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>Add New Internship</h2>
    <br>
    <form method="POST" action="{{ url_for('add_organization') }}" class="w3-row-padding">
        <div class="input-container">
            <label for="organization_name">Organization Name:</label><br>
            <input type="text" id="organization_name" name="organization_name" class="w3-input w3-round" required><br>

            <label for="org_email">Email:</label><br>
            <input type="email" id="org_email" name="org_email" class="w3-input w3-round" required><br>

            <label for="topic">Topic:</label><br>
            <input type="text" id="topic" name="topic" class="w3-input w3-round"><br>

            <label for="day_hours">Day+Hours:</label><br>
            <input type="text" id="day_hours" name="day_hours" class="w3-input w3-round"><br>

            <label for="paid_unpaid">Paid/Unpaid:</label><br>
            <input type="text" id="paid_unpaid" name="paid_unpaid" class="w3-input w3-round"><br>

            <label for="requirements">Requirements:</label><br>
            <textarea id="requirements" name="requirements" class="w3-input w3-round"></textarea><br>
        </div>

        <input type="submit" value="Add" class="w3-button w3-round w3-margin-top">
    </form>
</div>
{%endblock%}