{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    .slideshow {
        animation: slide 1s forwards;
        opacity: 0;
        transform: translateY(-100%);
    }

    .fade-in {
        animation: fadeInImage 1s forwards;
        opacity: 0;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInImage {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>

<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div>
        {% if current_user.is_authenticated %}
            <h2 class="slideshow">Hello, <strong>{% if session.get('user_type') == 'Intern' %} {{ user.intern_name }} {% else %} {{ user.admin_name }} {% endif %}</strong></h2>
        {% else %}
            <h2>Welcome To InternLink</h2>
            <p>Connecting Futures, Bridging Opportunities</p>
        {% endif %}
    </div>

    <div class="button-container" style="margin-top: 20px;">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="w3-button w3-black w3-padding-large w3-round-large">Logout</a>
            {% if session.get('user_type') == 'Admin' %}
                <a href="{{ url_for('view_interns') }}" class="w3-button w3-grey w3-padding-large w3-round-large">View Interns</a>
                <a href="{{ url_for('add_organization') }}" class="w3-button w3-padding-large w3-round-large">Add Organization</a>
                <a href="{{ url_for('view_jobs') }}" class="w3-button w3-white w3-padding-large w3-round-large">View Internships</a>
            {% endif %}
            {% if session.get('user_type') == 'Intern' %}
                <a href="{{ url_for('view_jobs') }}" class="w3-button w3-padding-large w3-round-large">View Internships</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('register_intern') }}" class="w3-button w3-black w3-padding-large w3-round-large">Register</a>
            <a href="{{ url_for('login') }}" class="w3-button w3-grey w3-padding-large w3-round-large">Login</a>
        {% endif %}
    </div>

    <div style="margin-top: 35px;">
        <img src="{{ url_for('static', filename='home_page.png') }}" alt="Your Picture" class="w3-round fade-in" style="width: 70%; border-radius: 10px;">
    </div>
    <style>
        .slides-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }
        iframe {
            width: 100%; 
            height: 600px; 
            border: none; 
        }
    </style>
</head>
<body>
    <!-- <div class="slides-container">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vReYPJwT_bAtZMvPozS1f2V82Mlhh35Wlb6M3_8Z7YDr6ppTjpDFTWK5t1un1ACh82b_lkE_vZrF7NO/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>    </div>

    </div>
</div>
-->
{% endblock %}
