{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div>
        {% if current_user.is_authenticated %}
            <h2>Hello, <strong>{% if session.get('user_type') == 'Intern' %} {{ user.intern_name }} {% else %} {{ user.admin_name }} {% endif %}</strong></h2>
        {% else %}
            <h2>Welcome To InternLink</h2>
            <p>Connecting Futures, Bridging Opportunities</p>
        {% endif %}
    </div>

    <div class="button-container" style="margin-top: 20px;">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="w3-button w3-black w3-padding-large w3-round-large">Logout</a>
            {% if session.get('user_type') == 'Admin' %}
                <a href="{{ url_for('view_interns') }}" class="w3-button w3-grey w3-padding-large w3-round-large">View Interns</a>
                <a href="{{ url_for('add_organization') }}" class="w3-button w3-padding-large w3-round-large">Add Organization</a>
                <a href="{{ url_for('view_jobs') }}" class="w3-button w3-white w3-padding-large w3-round-large">View Internships</a>
            {% endif %}
            {% if session.get('user_type') == 'Intern' %}
                <a href="{{ url_for('view_jobs') }}" class="w3-button w3-padding-large w3-round-large">View Internships</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('register') }}" class="w3-button w3-black w3-padding-large w3-round-large">Register</a>
            <a href="{{ url_for('login') }}" class="w3-button w3-grey w3-padding-large w3-round-large">Login</a>
        {% endif %}
    </div>

    <div style="margin-top: 35px;">
        <img src="{{ url_for('static', filename='home_page.png') }}" alt="Your Picture" class="w3-round" style="width: 500px; height: 500px;">
    </div>
</div>
{%endblock%}