{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>Your Profile</h2>
    <div class="profile-info" style="display: inline-block; text-align: left;">
        <p><strong>User Type:</strong> {{ user_type }}</p>
        <p><strong>Name:</strong> {% if user_type == 'Intern' %} {{ user.intern_name }} {% elif user_type == 'Admin' %} {{ user.admin_name }} {% else %} {{ user.organization_name }} {% endif %}</p>
        <p><strong>Email:</strong> {% if user_type == 'Intern' %} {{ user.intern_email }} {% elif user_type == 'Admin' %} {{ user.admin_email }} {% else %} {{ user.org_email }} {% endif %}</p>
        {% if user_type == 'Intern' %}
        <p><strong>Graduation Year:</strong> {{ user.graduation_year }}</p>
        <p><strong>Major:</strong> {{ user.major }}</p>
        <p><strong>Claimed Job:</strong>
            {% if user.claimed_job %}
                {% set organization = Organization.query.get(user.claimed_job) %}
                {{ organization.company_name }}
            {% else %}
                None
            {% endif %}
        </p>
        {% if user.resume %}
        <p><strong>Resume:</strong> <a href="{{ url_for('download_resume', filename=user.resume) }}">{{ user.resume }}</a></p>
        <form action="{{ url_for('remove_resume') }}" method="post">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="submit" value="Remove Resume" class="w3-button w3-round w3-red w3-small">
        </form>
        {% endif %}
        {% endif %}
    </div>
    
    <button onclick="toggleEditForm()" class="w3-button w3-round w3-grey w3-small" style="margin-left: 20px;">Edit/Add Resume</button>
    
    <form id="editForm" action="{{ url_for('edit_profile') }}" method="post" enctype="multipart/form-data" style="display: none; width: 40%; float: right;" enctype="multipart/form-data">
        {% if user_type == 'Intern' %}
            <label for="intern_name">Name:</label>
            <input type="text" id="intern_name" name="intern_name" value="{{ user.intern_name }}" required class="w3-input w3-round"><br>
            <label for="intern_email">Email:</label>
            <input type="email" id="intern_email" name="intern_email" value="{{ user.intern_email }}" required class="w3-input w3-round"><br>
            <label for="graduation_year">Graduation Year:</label>
            <input type="text" id="graduation_year" name="graduation_year" value="{{ user.graduation_year }}" required class="w3-input w3-round"><br><br>
            <label for="resume">Resume:</label>
            <input type="file" id="resume" name="resume" value="{{ user.resume }}" class="w3-input w3-round"><br>
        {% elif user_type == 'Admin' %} 
            <label for="admin_name">Admin Name:</label>
            <input type="text" id="admin_name" name="admin_name" value="{{ user.admin_name }}" required class="w3-input w3-round"><br>
            <label for="admin_email">Email:</label>
            <input type="email" id="admin_email" name="admin_email" value="{{ user.admin_email }}" required class="w3-input w3-round"><br>
            <label for="admin_password">Password:</label>
            <input type="password" id="admin_password" name="admin_password" value="{{ user.admin_password }}" required class="w3-input w3-round"><br>
        {% endif %}
        <input type="submit" value="Save Changes" class="w3-button w3-round w3-grey w3-small">
    </form>    
    
    <div style="clear: both;">
        <form action="{{ url_for('logout') }}" method="post" style="display: inline-block;">
            <input type="submit" value="Logout" class="w3-button w3-round w3-black">
        </form>
        <a href="{{ url_for('index') }}" class="w3-button w3-round-large" style="display: inline-block; margin-left: 10px;">Home</a>
    </div>
</div>

<script>
    function toggleEditForm() {
        var editForm = document.getElementById("editForm");
        if (editForm.style.display === "none") {
            editForm.style.display = "block";
        } else {
            editForm.style.display = "none";
        }
    }
</script>
{% endblock %}