{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>Your Profile</h2>
    <div>
        <p><strong>User Type:</strong> {{ user_type }}</p>
        <p><strong>Name:</strong> {% if user_type == 'Intern' %} {{ user.intern_name }} {% else %} {{ user.organization_name }} {% endif %}</p>
        <p><strong>Email:</strong> {% if user_type == 'Intern' %} {{ user.intern_email }} {% else %} {{ user.org_email }} {% endif %}</p>
        {% if user_type == 'Intern' %}
        <p><strong>Graduation Year:</strong> {{ user.graduation_year }}</p>
        {% elif user_type == 'Organization' %}
        <p><strong>Topic:</strong> {{ user.topic }}</p>
        <p><strong>Day+Hours:</strong> {{ user.day_hours }}</p>
        <p><strong>Paid/Unpaid:</strong> {{ user.paid_unpaid }}</p>
        <p><strong>Requirements:</strong> {{ user.requirements }}</p>
        {% endif %}
    </div>
    <form action="{{ url_for('logout') }}" method="post" style="margin-top: 20px;">
        <input type="submit" value="Logout" class="w3-button w3-round w3-pink">
    </form>
    <a href="{{ url_for('index') }}" class="w3-button w3-blue w3-padding-large w3-round-large">Home</a>
</div>
{%endblock%}