{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>Register</h2>
    <div class="registration-type">
        <a href="{{ url_for('register_intern') }}" class="w3-button w3-round w3-blue">Register As Intern</a>
        <a href="{{ url_for('register_organization') }}" class="w3-button w3-round w3-blue">Register As Organization</a>
    </div>
</div>
{%endblock%}