{% extends 'base.html' %}
{% block title %}Register As Intern{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 800px; margin-top: 80px; text-align: center;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>Register As Intern</h2>
    <br>
    <form method="POST" action="{{ url_for('register_intern') }}" class="w3-row-padding">
        <div class="input-container">
            <label for="intern_name">Full Name:</label><br>
            <input type="text" id="intern_name" name="intern_name" class="w3-input w3-round" required><br>

            <label for="intern_email">Email:</label><br>
            <input type="email" id="intern_email" name="intern_email" class="w3-input w3-round" required><br>

            <label for="intern_password">Password:</label><br>
            <input type="password" id="intern_password" name="intern_password" class="w3-input w3-round" required><br>

            <label for="intern_confirm_password">Confirm Password:</label><br>
            <input type="password" id="intern_confirm_password" name="intern_confirm_password" class="w3-input w3-round" required><br>

            <label for="graduation_year">Graduation Year:</label><br>
            <input type="text" id="graduation_year" name="graduation_year" class="w3-input w3-round"><br>

            <label for="major">Major:</label><br>
            <select id="major" name="major" class="w3-input w3-round">
                <option value="Aerospace Engineering">Aerospace Engineering</option>
                <option value="Automotive Engineering">Automotive Engineering</option>
                <option value="Business & Finance">Business & Finance</option>
                <option value="Commercial Art">Commercial Art</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Culinary">Culinary</option>
                <option value="Digital Media">Digital Media</option>
                <option value="Fashion">Fashion</option>
                <option value="Law">Law</option>
            </select>
        </div>

        <input type="submit" value="Register" class="w3-button w3-round w3-margin-top">
    </form>
</div>
{%endblock%}