{% extends 'base.html' %}
{% block title %}View Interns{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 1000px; margin-top: 80px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2 style="text-align: center;">Interns</h2>

    <div class="job-container" style="margin-top: 20px;">
        {% for intern in interns %}
            <div class="job-card" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 20px; display: flex;">
                <div class="job-info" style="flex: 1;">
                    <h3>{{ intern.intern_name }}</h3>
                    <p>Email: <a href="mailto:{{ intern.intern_email }}">{{ intern.intern_email }}</a></p>
                    <p>Graduation Year: {{ intern.graduation_year }}</p>
                    <p>Major: {{ intern.major }}</p>
                    <p>Claimed Job:
                        {% if intern.claimed_job %}
                            {% set organization = Organization.query.get(intern.claimed_job) %}
                            {{ organization.company_name }}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    {% if intern.resume %}
                        <p>Resume: <a href="{{ url_for('download_resume', filename=intern.resume) }}">Download Resume</a></p>
                    {% endif %}
                </div>
                <div class="job-actions" style="display: flex; flex-direction: column; align-items: center;">
                    <form method="post" action="{{ url_for('delete_profile', intern_id=intern.id) }}">
                        <button class="w3-button w3-red w3-round-large" style="margin-bottom: 10px;">Delete Profile</button>
                    </form>
                    <form id="editForm_{{ intern.id }}" action="{{ url_for('edit_interns', intern_id=intern.id) }}" method="post" enctype="multipart/form-data" style="display: none; width: 100%; text-align: left;">
                        <label for="intern_name">Name:</label>
                        <input type="text" id="intern_name" name="intern_name" value="{{ intern.intern_name }}" required class="w3-input w3-round"><br>
                        <label for="intern_email">Email:</label>
                        <input type="email" id="intern_email" name="intern_email" value="{{ intern.intern_email }}" required class="w3-input w3-round"><br>
                        <label for="graduation_year">Graduation Year:</label>
                        <input type="text" id="graduation_year" name="graduation_year" value="{{ intern.graduation_year }}" required class="w3-input w3-round"><br><br>
                        <label for="major">Major:</label>
                        <select id="major" name="major" class="w3-select w3-round">
                            <option value="Aerospace Engineering">Aerospace Engineering</option>
                            <option value="Automotive Engineering">Automotive Engineering</option>
                            <option value="Business & Finance">Business & Finance</option>
                            <option value="Commercial Art">Commercial Art</option>
                            <option value="Computer Science">Computer Science</option>
                            <option value="Culinary">Culinary</option>
                            <option value="Digital Media">Digital Media</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Law">Law</option>
                        </select>
                        <br><br>
                        {% if intern.resume %}
                        <label for="resume">Resume:</label>
                        <a href="{{ url_for('download_resume', filename=intern.resume) }}">{{ intern.resume }}</a>
                        <br><br>
                        {% endif %}
                        <input type="file" id="resume" name="resume" class="w3-input w3-round"><br>
                        <button type="submit" class="w3-button w3-round w3-grey w3-small">Save Changes</button>
                        <button type="submit" name="delete_claimed_job" class="w3-button w3-round w3-small" style="margin-left: 10px;">Delete Claimed Job</button>
                    </form>
                    <button onclick="toggleEditForm('{{ intern.id }}')" class="w3-button w3-grey w3-round-large" style="margin-bottom: 10px;">Edit</button>
                    <!-- <button class="w3-button w3-black w3-round-large contact-btn" data-email="{{ intern.intern_email }}">Contact</button>
                    <form class="message-form" style="display: none; width: 80%;">
                        <input type="hidden" name="from_email" value="{{ current_user.admin_email }}">
                        <input type="hidden" name="to_email" value="{{ intern.intern_email }}">
                        <input type="text" name="subject" placeholder="Subject" class="w3-input w3-round" style="margin-bottom: 10px; width: 100%;">
                        <textarea class="w3-round" name="message" placeholder="Type your message here." style="width: 100%; min-height: 100px; resize: none; margin-bottom: 10px;"></textarea>
                        <button type="submit" class="w3-button w3-round w3-grey w3-small">Send</button>
                    </form> -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function toggleEditForm(internId) {
        var editForm = document.getElementById("editForm_" + internId);
        if (editForm.style.display === "none") {
            editForm.style.display = "block";
        } else {
            editForm.style.display = "none";
        }
    }

    document.querySelectorAll('.contact-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            var form = this.nextElementSibling;
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        });
    });
</script>
{% endblock %}