{% extends 'base.html' %}
{% block title %}View Jobs{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 1000px; margin-top: 80px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <h2 style="text-align: center;">Internships</h2>

    <div class="view-options" style="margin-bottom: 20px;">
        <form action="{{ url_for('view_jobs') }}" method="post">
            <input type="radio" id="cards" name="view_option" value="cards" {% if view_option == 'cards' %}checked{% endif %} onchange="this.form.submit()">
            <label for="cards">Cards</label>
            <input type="radio" id="table" name="view_option" value="table" {% if view_option == 'table' %}checked{% endif %} onchange="this.form.submit()">
            <label for="table">Table</label>
        </form>
    </div>

    <div class="filter-container" style="margin-bottom: 20px;">
        <div class="filter-options" style="display: flex; align-items: center;">
            <label for="major-filter">Filter By Major:</label>
            <select id="major-filter" style="width: 200px; margin-right: 20px; border-radius: 5px;" onchange="applyFilters()">
                <option value="">All</option>
                <option value="Aerospace Engineering">Aerospace Engineering</option>
                <option value="Automotive Engineering">Automotive Engineering</option>
                <option value="Business & Finance">Business & Finance</option>
                <option value="Commercial Arts">Commercial Arts</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Culinary">Culinary</option>
                <option value="Digital Media">Digital Media</option>
                <option value="Fashion">Fashion</option>
                <option value="Law">Law</option>
                <option value="Medical">Medical</option>
                <option value="Research/Other">Research/Other</option>
            </select>
        </div>
    </div>

    {% if view_option == 'cards' %}
        <div class="job-container">
            {% for organization in organizations %}
                <div class="job-card" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 20px; display: flex;">
                    <div class="job-info" style="flex: 1;">
                        <h3>{{ organization.company_name }}</h3>
                        <p>Website: <a href="{{ organization.website }}" target="_blank">{{ organization.website }}</a></p>
                        <p>Address: {{ organization.street_address }}, {{ organization.city }}, {{ organization.state }}, {{ organization.zip_code }}</p>
                        <p>Phone: {{ organization.phone }}</p>
                        <p>Email: <a href="mailto:{{ organization.email }}">{{ organization.email }}</a></p>
                        <p>Internship Mentor: {{ organization.internship_mentor }}</p>
                        <p>Internship Topic: {{ organization.internship_topic }}</p>
                        <p>Related Major(s): {{ organization.major }}</p>
                    </div>
                    <div class="job-actions" style="display: flex; flex-direction: column; align-items: center;">
                        {% if session.get('user_type') == 'Admin' %}
                            {% if current_user.is_authenticated %}
                                <form method="post" action="{{ url_for('delete_organization', organization_id=organization.id) }}">
                                    <button class="w3-button w3-red w3-round-large" style="margin-bottom: 10px;">Delete Organization</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <form method="post" action="{{ url_for('claim_job', organization_id=organization.id) }}" class="claim-form">
                                <button class="w3-button w3-round-large claim-btn" style="margin-bottom: 10px;" onclick="confirmClaim(event)">Claim</button>
                            </form>
                        {% endif %}
                    </div>
                </div>           
            {% endfor %}
        </div>
        
    {% else %}
        <div class="table-container">
            <table class="w3-table-all w3-card-4 w3-round">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Website</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Internship Mentor</th>
                        <th>Internship Topic</th>
                        <th>Related Major(s)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organization in organizations %}
                    <tr class="organization-row">
                        <td class="company-name">{{ organization.company_name }}</td>
                        <td class="website"><a href="{{ organization.website }}" target="_blank">{{ organization.website }}</a></td>
                        <td class="address">{{ organization.street_address }}, {{ organization.city }}, {{ organization.state }}, {{ organization.zip_code }}</td>
                        <td class="phone">{{ organization.phone }}</td>
                        <td class="email"><a href="mailto:{{ organization.email }}">{{ organization.email }}</a></td>
                        <td class="mentor">{{ organization.internship_mentor }}</td>
                        <td class="topic">{{ organization.internship_topic }}</td>
                        <td class="majors">{{ organization.major }}</td>
                        <td>
                            {% if session.get('user_type') == 'Admin' %}
                                {% if current_user.is_authenticated %}
                                    <form method="post" action="{{ url_for('delete_organization', organization_id=organization.id) }}">
                                        <button class="w3-button w3-red w3-small w3-round-large" style="margin-bottom: 10px;">X</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <form method="post" action="{{ url_for('claim_job', organization_id=organization.id) }}" class="claim-form">
                                    <button class="w3-button w3-small w3-round-large claim-btn" style="margin-bottom: 10px;" onclick="confirmClaim(event)">+</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <!-- Pagination Controls -->
    <div class="pagination-controls" style="margin-top: 20px; text-align: center;">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for('view_jobs', page=pagination.prev_num, major=major_filter, view_option=view_option) }}">Previous</a></li>
            {% endif %}
            {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                    <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('view_jobs', page=page_num, major=major_filter, view_option=view_option) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <li class="page-item"><a class="page-link" href="{{ url_for('view_jobs', page=pagination.next_num, major=major_filter, view_option=view_option) }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<style>
    .job-container {
        margin-top: 20px;
    }

    .job-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
    }

    .job-info {
        flex: 1;
    }

    .job-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table-container {
        margin-top: 20px;
        overflow-x: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        max-width: 200px;
        word-wrap: break-word;
    }

    th {
        background-color: #000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    .pagination {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    .page-item {
        margin: 0 5px;
    }

    .page-link {
        display: block;
        padding: 8px 16px;
        color: rgb(192, 163, 4);
        text-decoration: none;
    }

    .page-item.active .page-link {
        background-color: rgb(192, 163, 4);
        color: white;
        border-radius: 5px;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
    }

    @media screen and (max-width: 600px) {
        table {
            width: 100%;
        }

        th, td {
            display: block;
            width: 100%;
        }
    }
</style>

<script>
    function handlePagination(pageNum) {
        var majorFilter = document.getElementById('major-filter').value;
        var url = "{{ url_for('view_jobs') }}" + `?page=${pageNum}&major=${majorFilter}`;
        window.location.href = url;
    }

    function confirmClaim(event) {
        var confirmation = confirm("Only claim this job if this is your confirmed senior internship.");
        if (confirmation) {
            document.querySelector('.claim-form').submit();
        } else {
            event.preventDefault();
            alert("Not Selected")
        }
    }

    function applyFilters() {
        var selectedMajor = document.getElementById('major-filter').value.toLowerCase();
        var viewOption = document.querySelector('input[name="view_option"]:checked').value;

        // For Card View
        var cards = document.querySelectorAll('.job-card');
        cards.forEach(function(card) {
            var majors = card.querySelector('.job-info p:last-child').textContent.replace('Related Major(s): ', '').toLowerCase();
            if (selectedMajor === '' || majors.includes(selectedMajor)) {
                card.style.display = 'flex';
            } else {
                card.style.display = 'none';
            }
        });

        // For Table View
        var rows = document.querySelectorAll('.organization-row');
        rows.forEach(function(row) {
            var majors = row.querySelector('.majors').textContent.toLowerCase();

            if (selectedMajor === '' || majors.includes(selectedMajor)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        var form = document.querySelector('.view-options form');
        form.querySelector('input[name="view_option"]').value = viewOption;
        form.submit();
    }

    document.getElementById('major-filter').addEventListener('change', function() {
        applyFilters();
        handlePagination(1); 
    });
</script>
{% endblock %}