{% extends 'base.html' %}
{% block title %}View Interns{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width: 1000px; margin-top: 80px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashed-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2 style="text-align: center;">Interns</h2>

    <div class="view-options" style="margin-bottom: 20px;">
        <form action="{{ url_for('view_interns') }}" method="post">
            <input type="radio" id="cards" name="view_option" value="cards" {% if view_option == 'cards' %}checked{% endif %} onchange="this.form.submit()">
            <label for="cards">Cards</label>
            <input type="radio" id="table" name="view_option" value="table" {% if view_option == 'table' %}checked{% endif %} onchange="this.form.submit()">
            <label for="table">Table</label>
        </form>
    </div>

    <div class="filter-container" style="margin-bottom: 20px;">
        <div class="filter-options" style="display: flex; align-items: center;">
            <label for="major-filter">Filter By Major:</label>
            <select id="major-filter" style="width: 200px; margin-right: 20px; border-radius: 5px;" onchange="applyFilters()">
                <option value="">All</option>
                <option value="Aerospace Engineering">Aerospace Engineering</option>
                <option value="Automotive Engineering">Automotive Engineering</option>
                <option value="Business & Finance">Business & Finance</option>
                <option value="Commercial Art">Commercial Art</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Culinary">Culinary</option>
                <option value="Digital Media">Digital Media</option>
                <option value="Fashion">Fashion</option>
                <option value="Law">Law</option>
            </select>
        </div>
        <div class="search-container" style="text-align: right; margin-top: 20px;">
            <label for="search-input">Search:</label>
            <input type="text" id="search-input" style="width: 200px; border-radius: 5px;" oninput="applyFilters()">
        </div>
    </div>

    {% if view_option == 'cards' %}
        <div class="intern-container">
            {% for intern in interns %}
                <div class="intern-card" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 20px; display: flex;">
                    <div class="intern-info" style="flex: 1;">
                        <h3>{{ intern.intern_name }}</h3>
                        <p>Email: <a href="mailto:{{ intern.intern_email }}">{{ intern.intern_email }}</a></p>
                        <p>Graduation Year: {{ intern.graduation_year }}</p>
                        <p>Major: {{ intern.major }}</p>
                        <p>Claimed Job:
                            {% if intern.claimed_job %}
                                {% set organization = Organization.query.get(intern.claimed_job) %}
                                {{ organization.company_name }}
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        {% if intern.resume %}
                            <p>Resume: <a href="{{ url_for('download_resume', filename=intern.resume) }}">Download Resume</a></p>
                        {% endif %}
                    </div>
                    <div class="intern-actions" style="display: flex; flex-direction: column; align-items: center;">
                        <form method="post" action="{{ url_for('delete_profile', intern_id=intern.id) }}">
                            <button class="w3-button w3-red w3-round-large" style="margin-bottom: 10px;">Delete Profile</button>
                        </form>
                        <img src="{{ url_for('static', filename='uploads/' + intern.profile_photo) }}" alt="Profile Photo" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
                        <form id="editForm_{{ intern.id }}" action="{{ url_for('edit_interns', intern_id=intern.id) }}" method="post" enctype="multipart/form-data" style="display: none; width: 100%; text-align: left;">
                            <label for="intern_name">Name:</label>
                            <input type="text" id="intern_name_{{ intern.id }}" name="intern_name" value="{{ intern.intern_name }}" required class="w3-input w3-round"><br>
                            <label for="intern_email">Email:</label>
                            <input type="email" id="intern_email_{{ intern.id }}" name="intern_email" value="{{ intern.intern_email }}" required class="w3-input w3-round"><br>
                            <label for="graduation_year">Graduation Year:</label>
                            <input type="text" id="graduation_year_{{ intern.id }}" name="graduation_year" value="{{ intern.graduation_year }}" required class="w3-input w3-round"><br><br>
                            <label for="major">Major:</label>
                            <select id="major_{{ intern.id }}" name="major" class="w3-select w3-round">
                                <option value="Aerospace Engineering">Aerospace Engineering</option>
                                <option value="Automotive Engineering">Automotive Engineering</option>
                                <option value="Business & Finance">Business & Finance</option>
                                <option value="Commercial Art">Commercial Art</option>
                                <option value="Computer Science">Computer Science</option>
                                <option value="Culinary">Culinary</option>
                                <option value="Digital Media">Digital Media</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Law">Law</option>
                            </select>
                            <br><br>
                            <label for="resume">Resume:</label>
                            <input type="file" id="resume" name="resume" value="{{ intern.resume }}" class="w3-input w3-round"><br>
                            <button type="submit" class="w3-button w3-round w3-grey w3-small">Save Changes</button>
                            <button type="submit" name="delete_claimed_job" class="w3-button w3-round w3-small" style="margin-left: 10px;">Delete Claimed Job</button>
                        </form>
                        <button onclick="toggleEditForm('{{ intern.id }}')" class="w3-button w3-grey w3-round-large" style="margin-bottom: 10px;">Edit</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="table-container">
            <table class="w3-table-all w3-card-4 w3-round">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Graduation Year</th>
                        <th>Major</th>
                        <th>Claimed Job</th>
                        <th>Resume</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for intern in interns %}
                        <tr class="intern-row">
                            <td class="intern-name">{{ intern.intern_name }}</td>
                            <td class="intern-email">{{ intern.intern_email }}</td>
                            <td>{{ intern.graduation_year }}</td>
                            <td class="intern-major">{{ intern.major }}</td>
                            <td>
                                {% if intern.claimed_job %}
                                    {% set organization = Organization.query.get(intern.claimed_job) %}
                                    {{ organization.company_name }}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                            <td>
                                {% if intern.resume %}
                                    <a href="{{ url_for('download_resume', filename=intern.resume) }}">Download Resume</a>
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                            <td>
                                <form method="post" action="{{ url_for('delete_profile', intern_id=intern.id) }}">
                                    <button class="w3-button w3-red w3-small w3-round-large" style="margin-bottom: 10px;">X</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

<style>
    .intern-container {
        margin-top: 20px;
    }

    .intern-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
    }

    .intern-info {
        flex: 1;
    }

    .intern-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table-container {
        margin-top: 20px;
        overflow-x: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    @media screen and (max-width: 600px) {
        table {
            width: 100%;
        }

        th, td {
            display: block;
            width: 100%;
        }
    }
</style>

<script>
    function applyFilters() {
        var selectedMajor = document.getElementById('major-filter').value;
        var searchKeyword = document.getElementById('search-input').value.toLowerCase();
        
        var interns = document.querySelectorAll('.intern-card');
        interns.forEach(function(intern) {
            var internName = intern.querySelector('.intern-info h3').textContent.toLowerCase();
            var internMajor = intern.querySelector('.intern-info p:nth-child(4)').textContent.replace('Major: ', '').toLowerCase();
            if ((selectedMajor === '' || internMajor === selectedMajor.toLowerCase()) &&
                (searchKeyword === '' || internName.includes(searchKeyword))) {
                intern.style.display = 'flex';
            } else {
                intern.style.display = 'none';
            }
        });

        var rows = document.querySelectorAll('.intern-row');
        rows.forEach(function(row) {
            var name = row.querySelector('.intern-name').textContent.toLowerCase();
            var email = row.querySelector('.intern-email').textContent.toLowerCase();
            var major = row.querySelector('.intern-major').textContent.toLowerCase();
            if ((selectedMajor === '' || major === selectedMajor.toLowerCase()) &&
                (searchKeyword === '' || name.includes(searchKeyword) || email.includes(searchKeyword))) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    document.getElementById('major-filter').addEventListener('change', applyFilters);
    document.getElementById('search-input').addEventListener('input', applyFilters);

    function toggleEditForm(internId) {
        var editForm = document.getElementById("editForm_" + internId);
        if (editForm.style.display === "none") {
            editForm.style.display = "block";
        } else {
            editForm.style.display = "none";
        }
    }
</script>
{% endblock %}